<article class="circle step1">

  <div class="vg-item-article">
    <p class="vg-step">Generate
      <br>a Great Idea</p>
  </div>
</article>
<article class="circle step2">

  <div class="vg-item-article">

    <p class="vg-step">Get the Resources</p>
  </div>
</article>
<article class="circle step1">

  <div class="vg-item-article">

    <p class="vg-step">Time for Tests</p>
  </div>
</article>
<article class="circle step4">

  <div class="vg-item-article">

    <p class="vg-step">Watch
      <br> the Preview</p>
  </div>
</article>
<article class="circle step5">

  <div class="vg-item-article">

    <p class="vg-step">Deliver
      <br>on Time</p>
  </div>
</article>
<article class="circle step6">
  <div class="vg-item-article">
    <p class="vg-step">Enjoy
      <br> the Earnings</p>
  </div>
</article>
