<div class="vg-item-article a-left">
  <h3 class="vg-flickr-icon vg-margin-1">Социальная сеть</h3>
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?101"></script>

  <!-- VK Widget -->
  <div id="vk_groups"></div>
  <script type="text/javascript">
      VK.Widgets.Group("vk_groups", {mode: 0, width: "220", height: "300", color1: 'F9F6F6', color2: '2B587A', color3: '#4B739B'}, 54996150);
  </script>
</div>
