<ul id="vg-menu" class="r-two">
  <li>
    <a href="/" class="icons i-home"><div>Главная</div></a>
  </li>
  <li><a href="/yslygi" class="icons i-blog"><div>Услуги</div></a></li>

  <!--<li><a href="/portfolio" class="icons i-portfolio">Портфолио</a></li>-->

  <li><a href="/contacts" class="icons i-contact"><div>Контакты</div></a></li>
  <li><a href="/blog" class="icons i-posts"><div>Блог</div></a></li>
</ul>
