<%= content_for :header do %>
    <div class="vg-aboutus-text">
      <div class="vg-header">Портфолио</div>
      <p class="header-text">
        Портфолио - это наши работы. Здесь представлены все выполненные работы.
        Они разбиты по категориям услуг соответственно. Выбирая определенную категорию,
        Вы сможете посмотреть все работы по ней.
      </p>
    </div>
<% end %>